.main-content{
    padding: 2em;

    &__title{
        margin: 10px 0;
        padding: .5em;
        background-color: lighten($color1, 15%);

        a{
            color: white;
            font-size: .75em;
        }
    }
}